.header {
    position:relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 400px;
    width:100%;
}
.header-image {
    height: 400px;
    width:100%;
}
.left-header {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80px;
    left: 70px;
    line-height: 50%;
}
.left-header-p {
    color:#6E9F0A;
    font-size: 150%;
}
.right-header {
    position: absolute;
    display:flex;
    flex-direction: column;
    top: 50px;
    right: 100px;
}

.header-checkout {
    color: whitesmoke;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #6E9F0A;
    display:flex;
    flex-direction: row;
}

.cart-logo {
    height:30px;
    width: 30px;
    align-items: center;
    }
.cart-image {
    display: flex;
      flex-direction: row;
    justify-content: right;
}
.navi {
    color: #190F54;
    text-decoration: none;
    background-color: #D7D6DC;
    padding:1rem 10rem;
}
.header-link {
    color: #190F54;
    text-decoration: none;
    background-color: #D7D6DC;
    padding:1rem;
    font-weight: bolder;
    font-size: 125%;
}
.image-heading {
    color:#456789;
    font-weight: bolder;
    padding: 1rem 3rem 0rem;
}
.container-1 {
    display:flex;
    flex-direction: row;
    
}
.image1 {
    display:flex;
    flex-direction:column;
    padding:1rem 6rem;
    height: 350px;
    width: 300px;
}
.image1-text {
    display:flex;
    flex-direction:column;
    
}
.image1-oftext{
    line-height: 150%;
    padding: 0rem 18rem 1rem 3rem;
    text-align: left;
    font-size: 125%;
}
h1 {
    font-weight: bolder;
    color: #456789;
    padding: 1rem 10rem;
}
.container {
    display:flex;
    flex-direction: column;
    align-content: space-around;    
    padding: 1rem 10rem;
}
.row1 {
    display:flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-around;
    
}
.row2 {
    display:flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-around;
}
.row3 {
    display:flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .row1 {
        display:flex;
        flex-direction: column;
    }
    .row2 {
        display:flex;
        flex-direction: column;
    }
    .row3 {
        display:flex;
        flex-direction: column;
    }
  }
.product{
    display:flex;
    flex-direction: row;
}
.product-image{
    height: 150px;
    width: 100%;
  
}
.product-heading{
    display: flex;
    flex-direction: row;
    left: 1rem;
    color:#456789;
}
.product-cost{
    display: flex;
    flex-direction: row;
    left: 1rem;
}
.description{
    display: flex;
    flex-direction: row;
    left: 1rem;
}
.p-desc{
    left: 1rem;
}
.adopt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.p-adopt{
    text-decoration: none;
    color:white;
    background-color: #6E9F0A;
    padding:1rem 4rem;
    align-items: center;
}
.murphy{
    display: flex;
    flex-direction: column;
    border: solid gainsboro;   
    margin: 10px;
    
}
.poppy{
    display: flex;
    flex-direction: column;
    border: solid gainsboro;
    margin: 10px;
}
.Jack{
    display: flex;
    flex-direction: column;
    border: solid gainsboro;
    margin: 10px;
}
.Duffy{
    display: flex;
    flex-direction: column;
    border: solid gainsboro;
    margin: 10px;
     
}
.Lucas{
    display: flex;
    flex-direction: column;
    border: solid gainsboro;
    margin: 10px;
    }
.Jake{
    display: flex;
    flex-direction: column;
    border: solid gainsboro;
    margin: 10px;
}
.Angus{
    display: flex;
    flex-direction: column;
    border: solid gainsboro;
    margin: 10px;
}
.Violet{
    display: flex;
    flex-direction: column;
    border: solid gainsboro;
    margin: 10px;
}
.piper {
    display: flex;
    flex-direction: column;
    border: solid gainsboro;
    margin: 10px;
}
.maximus{
    display: flex;
    flex-direction: column;
    border: solid gainsboro;
    margin: 10px;
}
.luna {
    display: flex;
    flex-direction: column;
    border: solid gainsboro;
    margin: 10px;
}
.stella {
    display: flex;
    flex-direction: column;
    border: solid gainsboro;
    margin: 10px;
}
.seemore {
    text-align: center;
    text-decoration: none;
    background-color:#D7D6DC;
    color:#456789;
    padding: 1rem 3rem;
    font-weight: bolder;
    font-size: 125%;
    margin: 1rem 15rem;
}
.footer {
    display:flex;
    flex-direction: column;
    background-color:#154360;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
}
.footer-logo{
    display:flex;
    flex-direction:column;
}
.footer-text{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.logo-footer{
    width:300px;
    height:100px;
}
.text-footer{
    font-size: 15px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-link{
    text-decoration: none;
    color: white;
}
.blog1{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    margin-bottom: 3rem;
}
.blog2{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    margin-bottom: 3rem;
}
.blog3{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
}
.blog1-image{
    display: flex;
    flex-direction: column;
}
.blog1-text{
    display: flex;
    flex-direction: column;
}
.blog2-image{
    display: flex;
    flex-direction: column;
}
.blog2-text{
    display: flex;
    flex-direction: column;
}
.blog3-image{
    display: flex;
    flex-direction: column;
}
.blog3-text{
    display: flex;
    flex-direction: column;
}
.image-blog{
    height: 250px;
    width: 250px;
}
.heading-blog{
 font-weight: bolder;
 color:#456789;
 padding-left: 3rem;
}
.text-blog1{
    line-height: 150%;
    padding: 0rem 10rem 1rem 3rem;
    text-align: left;
    font-size: 100%;
}

form {
    margin-left:10rem;
}
.adopted-image {
    height:100px;
    width:100px;
}
.dogs-adopted {
    display:flex;
    flex-direction: row;
    
}
.adopted {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
label,legend {
    font-weight: bolder;
    color: #456789;
    font-size: 125%;
}
input {
    margin:1rem 1rem 1rem 0rem;
    box-sizing: border-box;
    
}
input[type=text] {
    width: 30rem;
    height: 3rem;
}
input[type=email] {
    width: 30rem;
    height: 3rem;
}
select {
    width: 7rem;
    height: 3rem;
    margin-top: 1rem;
}
input[type=number] {
    width: 10rem;
    height: 3rem;
}
fieldset {
    border:none;
    padding: 0rem;
}
.city {
    display:flex;
    flex-direction: row;
}
.city1 {
    display:flex;
    flex-direction: column;
    padding:1rem 1rem 1rem 0rem;
    
}
.adopted-text1 {
    font-weight: bolder;
    color: #456789;
    font-size: 125%;
}
input[type=submit] {
    padding:1rem 5rem;
    background-color: #9ad329;
    color: white;
    border-color: #9ad329;
    font-size: 125%;
    font-weight: bolder;
}
.blue {
    color: #456789;
    font-weight: bolder;
}